<div class="container bg-primary">
<!--Barra de navegación -->
<div class="header">
    
            <div class="logo">
                <a href=""><img src="./assets/APLogo.png" alt=""></a>
            </div>

            <nav>
            <ul class="nav-links">
                <li><a class="navbar-brand" href="https://github.com/NinoMg"><img src="./assets/github.png" alt=""></a></li>
                <li><a class="navbar-brand" href=""><img src="./assets/instagram.png" alt=""></a></li>
                <li><a class="navbar-brand" href="https://www.linkedin.com/in/nino-magni-a05925218/"><img src="./assets/linkedin.png" alt=""></a></li>
                <li><a class="navbar-brand" href="https://www.ninomagni75@gmail.com"><img src="./assets/mail.png" alt=""></a></li>
                <li><a class="navbar-brand" href="#"><img src="./assets/login5.png" alt=""></a></li>
            </ul>
        </nav>
        
</div>
    <div>
         <!--banner -->
        <img  class="banner" src="assets/fondo1.png"  alt="">
    </div>
   
</div>


