 <!--skils o habilidades-->
 <div class="container">
    <div class="row skils">
        <h2>Habilidades</h2>
        <h3 class="nombre separacion">Tecnologias</h3>
       
        <div class="col-md-4 col-sm-6 separacion">
            
            <circle-progress
                [imageSrc]="'./assets/skils/html.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [percent]="75"
                [radius]="80"
                [outerStrokeWidth]="7"
                [innerStrokeWidth]="1"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="300"
          ></circle-progress>
          <p class="pieCirculo">HTML -~- 75%</p>
        </div>
        <div class="col-md-4 col-sm-6 separacion">
        <circle-progress
            [imageSrc]="'./assets/skils/css.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="55"
            [radius]="80"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <p class="pieCirculo">CSS -~- 55%</p>
        </div>
        <div class="col-md-4 col-sm-6 separacion">
            <circle-progress
            [imageSrc]="'./assets/skils/mariadb_logo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="65"
            [radius]="80"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <p class="pieCirculo">SQL -~- 65%</p>
        </div>
        <div class="col-md-4 col-sm-6 separacion">
            <circle-progress
            [imageSrc]="'./assets/skils/bootstrap.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="65"
            [radius]="80"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <p class="pieCirculo">BootStrap -~- 65%</p>
        </div>

        <div class="col-md-4 col-sm-6 separacion">
            <circle-progress
            [imageSrc]="'./assets/skils/php.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="45"
            [radius]="80"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <p class="pieCirculo">PHP -~- 45%</p>
        </div>

        <div class="col-md-4 col-sm-6 separacion">
            <circle-progress
            [imageSrc]="'./assets/skils/Java_logo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="60"
            [radius]="80"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <p class="pieCirculo">Java -~- 60%</p>
        </div>

        <div class="col-md-4 col-sm-6 separacion">
            <circle-progress
            [imageSrc]="'./assets/skils/Linux-logo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="50"
            [radius]="80"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <p class="pieCirculo">Linux -~- 50%</p>
        </div>

        <div class="col-md-4 col-sm-6 separacion">
            <circle-progress
            [imageSrc]="'./assets/skils/git-logo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="65"
            [radius]="80"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <p class="pieCirculo">Git -~- 65%</p>
        </div>


        <h3 class="nombre separacion">Soft</h3>
        <div class="col-md-4 col-sm-6 separacion">
            <circle-progress
            [imageSrc]="'./assets/skils/proactivo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="95"
            [radius]="80"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <p class="pieCirculo">Proactividad -~- 95%</p>
    </div>

    <div class="col-md-4 col-sm-6 separacion">
        <circle-progress
        [imageSrc]="'./assets/skils/scrum_logo.jpeg'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [percent]="55"
        [radius]="80"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#000000'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    <p class="pieCirculo">SCRUM -~- 55%</p>
</div>
    
<div class="col-md-4 col-sm-6 separacion">
    <circle-progress
    [imageSrc]="'./assets/skils/grupal.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [percent]="75"
    [radius]="80"
    [outerStrokeWidth]="7"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
<p class="pieCirculo">Trabajo en grupo -~- 75%</p>
</div>



</div>
