 <!--acerca de mi-->
 <div class="container ">
    <div class="row acercadm">
       
       

        <div class="col-lg-3 col-sm-4 col-xs-4">
            <div class="marcoFoto">
                <img src="./assets/fotoN.jpg" alt="" class=" foto ">  <h1 class="nombre">Nino Magni</h1>
            <h4><span> Full Stack Developer jr</span></h4>
        </div>
       </div>
        <div class="col-lg-9 col-sm-8 col-xs-8">
            <h2>Acerce de mi</h2><br>
            <p>  Desarrollador web full stack (diplomatura UTN), actualmente cursando la segunda etapa del plan argentina programa. Utilizo las tecnologías: CSS HTML PHP Mariadb y git, también framework como Bootstrap y librerías php. Usuario linux.</p>
        </div>
    </div>
</div>
