/* You can add global styles to this file, and also import other style files */
/*Titulos de seccion*/
h2{
    text-align: center;
    padding: 5%;
    font-size:xxx-large;
    
}
body{
    background-color: #1159d7;
    color: azure;
}




    

   

    
    
   